.App {
  text-align: center;
}


.sortBy {
  /* background-color:  #63584c; */
  /* background: #5e686c; */
  background-color: #053352;
  font-weight: 800;
  color: #bb8c4f;
}

.sortBy-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.houseTile {
  display: table-cell;

  float: left;
  margin: 2%;
  /* padding: 0.25%; */
  outline-width: 7px;
  outline-color: #bb8c4f;
  outline-style: double;
  align-content: center;

}

/* .HomesCard {
  float: right,
} */

.homeCardRear {
  background-color:#e25d54;
  padding: 5%;
  font-family: Georgia;
  text-align: center;
  text-overflow: clip;
  width: 1000px;
  height: 500px;
}

.homeCardFront {
  background-color: #053352 ;
  /* padding: 10px; */
  padding: 5px;
}

.homeImage {
  width: 500px;
  height: 250px;
  background-size: cover;
  align-self: center;
  padding-top: none;
  padding-right: 5px;
  padding-left: 5px;
}


/* lions mane #bb8c4f */

.body {
  background-color: #2e5169;
}

.navLogo {
  object-fit: cover;
  height: 90%;
}

.navSegment {
  background-color: #bb8c4f;
  height: 200px;
}
/* 
.test {
  background-color: aqua;
} */


/* delivs: ** note the App.css file
-get red logo to take up top nav/header, surround with gold line(s)
-float travel guide text on top of red logo - z index with positioning?
- figure out top padding on front of home card, why won't it go?
-back of card should be same size as front, text wrapped, etc. 
-get these into a fucking grid
-scroll and zoom in/out should display properly
-bottom images cut off */